<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my account</title>
</head>
<body>
    <h2>My Account</h2>

    <div class="account">
        <div class="account-card">
            <h3>Personal Information</h3>   
        </div>
    </div>
</body>
</html>